.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 1281px) {
    .update {
        font-size: 1.7rem !important;
    }
}

@media (max-width: 1024px) {
    .update {
        font-size: 1.3rem !important;
    }
    .input {
        font-size: 1.8rem !important;
    }
    .todos {
        font-size: 1.3rem !important;
    }
}
@media (max-width: 912px) {
    .mainDiv {
        width: 80%;
    }
    .input {
        font-size: 3rem !important;
    }
    .todos, .update {
        font-size: 2rem !important;
    }
}
@media (max-width: 768px) {
    .input {
        font-size: 2.5rem !important;
    }
}
@media (max-width: 540px) {
    .mainDiv{
        width: 90%;
    }
}
@media (max-width: 415px) {
    .mainDiv {
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .input {
        font-size: 1.5rem !important;
    }
    .todos, .update {
        font-size: 1.5rem !important;
    }
    .updateBtn {
        padding: 0.3rem 0.1rem !important;
    }
}
@media  (max-width: 394px) {
    .todos, .update {
        font-size: 1.2rem !important;
    }
}
@media (max-width: 280px) {
    .input {
        font-size: 1rem !important;
    }
    .mainDiv {
        padding: 0.5rem !important;
    }
    .todos {
        font-size: 1rem !important;
    }
    .update {
        font-size: 1rem !important;
    }
    .updateBtn {
        padding: 0.3rem 0.1rem !important;
    }
}